html {
    height: 100%;
}

body { 
    /* The image used */
    background-image: url('../storage/images/logo.jpg');

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
  font-family: 'Raleway', sans-serif;
}


.container{
  opacity: 0.9;
  padding-top: 20%;
}

